mixin redirect(page)
  meta(http-equiv="refresh" content=`0; url=${page}`)

mixin button(link, text)
  a(class=bootstrap(["btn", "btnPrimary"]) href=link)=text

mixin outlineButton(link, text)
  a(class=bootstrap(["btn", "btnOutlinePrimary", "dFlex", "alignItemsCenter"]) href=link)=text

mixin tableData(text)
  td(class=bootstrap(["alignMiddle"]))=text

mixin publishedRun(thisPublishedRun)
  - var obsoleteColorClass = thisPublishedRun.obsoleted || !thisPublishedRun.verified ? bootstrap(["tableDanger"]) : "";
  tr(class=`${obsoleteColorClass} tableRun`
    data-platform!=thisPublishedRun.platform
    data-runname!=thisPublishedRun.game
    data-time!=thisPublishedRun.time
    data-movieid!=thisPublishedRun.publicationID
    data-youtubeid!=thisPublishedRun.youtubeID
    data-verifiers!=thisPublishedRun.verifiers
    data-notes!=thisPublishedRun.notes
    data-obsoleted=thisPublishedRun.obsoleted.toString()
    data-verified=thisPublishedRun.verified.toString()
  )
    th(scope="row" class=bootstrap(["alignMiddle"]) data-searchable="false")
      button(class=bootstrap(["btn", "btnOutlinePrimary"]).concat("watchYoutube")) Watch
    +tableData(thisPublishedRun.platform)
    +tableData(thisPublishedRun.game)
    +tableData(thisPublishedRun.category)
    +tableData(thisPublishedRun.time)
    +tableData(thisPublishedRun.authorList)
    +tableData(thisPublishedRun.verifiers)
    td(class=bootstrap(["alignMiddle"]))
      div(class=bootstrap(["btnGroup"]))
        - if (thisPublishedRun.publicationID)
          +outlineButton(`http://tasvideos.org/${thisPublishedRun.publicationID}M.html`, "TASVideos")
        - if (thisPublishedRun.exportedMovieID)
          +outlineButton(`movies/${thisPublishedRun.exportedMovieID}.zip`, "Dumped Data")
        +outlineButton(`/${thisPublishedRun.platform.replace(/\s/g, '')}.html`, "ⓘ")
    +tableData(thisPublishedRun.obsoleted ? "true" : "false")
    +tableData(thisPublishedRun.verified ? "true" : "false")
    +tableData(thisPublishedRun.notes)

mixin demoRun(demoRun)
  - var obsoleteColorClass = demoRun.verified ? "" : bootstrap(["tableDanger"]);
  - var obsoleteShowClass = demoRun.verified ? "" : bootstrap(["dNone"]);
  tr(class=`${obsoleteShowClass} ${obsoleteColorClass} tableRun`
    data-platform=demoRun.platform
    data-runname!=demoRun.demo
    data-youtubeid=demoRun.youtubeID
    data-verified=demoRun.verified.toString()
    data-verifiers=demoRun.verifiers
    data-notes=demoRun.notes
  )
    th(scope="row" class=bootstrap(["alignMiddle"]))
      button(class=bootstrap(["btn", "btnOutlinePrimary"]).concat("watchYoutube")) Watch
    +tableData(demoRun.platform)
    +tableData(demoRun.demo)
    +tableData(demoRun.authorList)
    +tableData(demoRun.verifiers)
    td(class=bootstrap(["alignMiddle"]))
      div(class=bootstrap(["btnGroup"]))
        - if (demoRun.exportedMovieID)
          +outlineButton(`movies/${demoRun.exportedMovieID}.zip`, "Dumped Data")
        +outlineButton(`/${demoRun.platform.replace(/\s/g, '')}.html`, "ⓘ")
    +tableData(demoRun.notes)

mixin jumbotron()
  div(class="darkCard")
    div(class=bootstrap(["p3", "container"]))
      block

mixin platformToggle(target)
  button(class=bootstrap(["btn", "btnOutlinePrimary", "active"]).concat('platformToggle') role="button" data-platform=target)=target