head
  meta(charset="utf-8")
  title= `Runs.TAS.Bot - ${pageTitle}`
  meta(name="description" content="Runs.TAS.Bot")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
  link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
  link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
  link(rel="manifest", href="/site.webmanifest")
  link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#000090")
  meta(name="msapplication-TileColor", content="#da532c")
  meta(name="theme-color", content="#000090")
  link(rel="stylesheet"
    href=bootstrapUrl
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous")
  link(rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css")
  link(rel="stylesheet" href="css/styles.css")