- var runsURL = "runs.html";
- var consoleVerificationsSection = "ConsoleVerifications";
- var tasDemosSection = "TAS Demos";
- var homeURL = "index.html";
-
  var platforms = {
    Atari2600: "Atari 2600",
    FDS: "FDS",
    GB: "GB",
    GBA: "GBA",
    GBC: "GBC",
    Genesis: "Genesis",
    Genesis32X: "Genesis 32X",
    N64: "N64",
    NES: "NES",
    PC: "PC",
    SNES: "SNES"
  };

doctype html
html(lang="en")
  head
    block pageStyles
      include head.pug
  body(class=bootstrap(["textLight"]))
    block pageContent
      include navbar.pug
    block pageScripts
      include scripts.pug