mixin dropdownItem(linkName, linkUrl)
  a(class=bootstrap(["dropdownItem"]) href=linkUrl)=linkName

mixin navItem(linkName, linkUrl)
  li(class=bootstrap(["navItem"]))
    a(class=bootstrap(["navLink"]) href=linkUrl)=linkName

nav(class=bootstrap(["navbar", "navbarExpandLg", "navbarDark", "bgDark"]))
  div(class=bootstrap(["containerFluid"]))
    a(class=bootstrap(["navbarBrand"]) href=homeURL) Runs.TAS.Bot
    button(class=bootstrap(["navbarToggler"])
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation")
      span(class=bootstrap(["navbarTogglerIcon"]))
    #navbarSupportedContent(class=bootstrap(["collapse", "navbarCollapse"]))
      ul(class=bootstrap(["navbarNav", "meAuto"]))
        li(class=bootstrap(["navItem"]))
          a(class=bootstrap(["navLink"]) href=runsURL) Runs
        li(class=bootstrap(["navItem", "dropdown"]))
          a#navbarPlatformsDropdown(class=bootstrap(["navLink", "dropdownToggle"])
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false") Console Guides
          div(class=bootstrap(["dropdownMenu", "dropdownMenuDark"]) aria-labelledby="navbarPlatformsDropdown")
            each platform in platforms
              +dropdownItem(platform, `${platform.replace(/\s/g,'')}.html`)
        span(class=bootstrap(["navbarText", "fwBold", "ms3"])) FIND TASBOT ON:
        +navItem("Discord", "http://discord.tasbot.net/")
        +navItem("TASVideos", "http://tasvideos.org/ConsoleVerifiedMovies.html")
        +navItem("GDQVods", "https://gdqvods.com/category/tool-assisted-speedruns")
        +navItem("GitLab", "https://gitlab.com/tasbot/runs.tas.bot")
        +navItem("TAS.Bot", "https://tas.bot")