mixin secureScript(sourceUrl, integrityHash)
  script(src=sourceUrl integrity=integrityHash crossorigin="anonymous")

+secureScript("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js",
  "sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM")
+secureScript("https://code.jquery.com/jquery-3.6.0.slim.min.js",
  "sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=")
script(src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js")