extends ../includes/layout
include ../includes/bootstrap_mixins

prepend pageStyles
  - var pageTitle = "Home"

append pageContent
  +jumbotron
    h1(class=bootstrap(["fwBold"])) RUNS.TAS.BOT
    hr(class=bootstrap(["my4"]))
    p(class=bootstrap(["lead"])) A compilation of available resources for making and watching Tool Assisted Speedrun Console Verifications
    p Tool Assisted Speedruns use scripts of inputs in an emulator to simulate the fastest possible completion of a game.  By using accurate enough emulators, the script can be exported and sent to a real console's controller ports.  This process is called console verification or hardware verification.
    div(class=bootstrap(["dGrid", "gap2"]))
      +button(runsURL, "Watch TASBot Runs Now!")