extends ../includes/layout
include ../includes/bootstrap_mixins

prepend pageStyles
  - var pageTitle = platforms.PC

append pageContent
  div(class=bootstrap(["container"]))
    h1 PC Console Verification
    p PC TASes are generally done on Linux using
      a(href="https://github.com/clementgallet/libTAS")=" libTAS."
    p However, in general it is considerably more complex than TASing older systems and difficult to maintain sync across systems.
    p A program called Hourglass exists for some Windows TASing, specifically for Game Maker based games, but use is discouraged due to crashing and sync issues.