extends ../includes/layout
include ../includes/bootstrap_mixins

prepend pageStyles
  - var pageTitle = "Runs"

append pageContent
  - var runs = require("./public/data/Runs.json")
  div(class=bootstrap(["containerFluid"]))
    div(class=bootstrap(["textCenter", "mt1"]))
      h1 Runs
      p A curated archive of known Tool Assisted Speedrun console verifications and demonstrations
    div(class=bootstrap(["mt3", "textCenter"]))
      h2#consoleVerificationsSection Console Verifications
    div(class=bootstrap(["colMd6", "mxAuto"]))
      #ytplayerWrapper(class=bootstrap(["mt3", "ratio", "ratio16X9", "dNone"]))
        #ytplayer
    #toolbar(class=bootstrap(["row"]))
      div(class=bootstrap(["colMdAuto"]))
        div(class=bootstrap(["formCheck"]))
          input#showObsolete(class=bootstrap(["formCheckInput"]) type="checkbox" checked)
          label(class=bootstrap(["formCheckLabel"]) for="showObsolete") Show Obsolete Runs
        div(class=bootstrap(["formCheck"]))
          input#showUnverified(class=bootstrap(["formCheckInput"]) type="checkbox" checked)
          label(class=bootstrap(["formCheckLabel"]) for="showUnverified") Show Unverified Runs
      #platformToggleButtons(class=bootstrap(["colMdAuto"]))
        div(class=bootstrap(["btnGroup", "flexWrap"]).concat("platformToggles"))
          button(class=bootstrap(["btn", "btnOutlinePrimary", "active"]).concat('platformToggle') role="button" data-platform="all") All
          each platform in platforms
            +platformToggle(platform)
    div(class=bootstrap(["mt3"]))
      table#verifiedRunsList(class=bootstrap(["table", "tableDark", "textCenter"])
        data-toggle="table"
        data-search="true"
        data-sortable="true"
        data-pagination="true"
        data-page-list!="[10, 25, 100, all]"
        data-detail-formatter!="detailFormatter"
        data-detail-view="true"
        data-detail-view-icon="false"
        data-detail-view-by-click="true"
        data-toolbar="#toolbar"
      )
        thead
          tr
            th(data-field="0" data-searchable="false")
            th(data-field="platform" data-sortable="true" data-searchable="false") Platform
            th(data-field="game" data-sortable="true") Game
            th(data-field="category" data-sortable="true") Category
            th(data-field="time" data-sortable="true" data-sorter="timeSorter") Time
            th(data-field="authors" data-sortable="true") Authors
            th(data-field="verifiers" data-sortable="true") Verifiers
            th(data-searchable="false") Archives
            th(data-field="obsoleted" data-visible="false") Obsoleted
            th(data-field="verified" data-visible="false") Verified
            th(data-field="notes" data-visible="false") Notes
        tbody
          - var publishedRuns = runs.filter(run => 'game' in run);
            each publishedRun in publishedRuns
              +publishedRun(publishedRun)
    div(class=bootstrap(["textCenter", "mt3"]))
      h2#tasDemosSection Verified TAS Demonstrations
    div
      table#verifiedDemosList(class=bootstrap(["table", "tableDark", "textCenter"])
        data-toggle="table"
        data-search="true"
        data-sortable="true"
        data-pagination="true"
        data-page-list!="[10, 25, 100, all]"
        data-detail-formatter!="detailFormatter"
        data-detail-view="true"
        data-detail-view-icon="false"
        data-detail-view-by-click="true"
      )
        thead
          tr
            th(data-searchable="false")
            th(data-field="platform" data-sortable="true") Platform
            th(data-field="demo" data-sortable="true") Demo
            th(data-field="authors" data-sortable="true") Authors
            th(data-field="verifiers" data-sortable="true") Verifiers
            th(data-searchable="false") Archives
            th(data-visible="false" data-field="notes") Notes
        tbody
          - var demoRuns = runs.filter(run => 'demo' in run);
            each demoRun in demoRuns
              +demoRun(demoRun)

prepend pageScripts
  script
    |function detailFormatter(index, row) {
    |  return `<h3>Detailed Notes</h3><p class='mb-0'>${row.notes.length !== 0 ? row.notes : 'No detailed notes found for the selected run'}</p>`
    |}

append pageScripts
  script(src=`js/${pageName}.js`)